exports/Integrations_RMA_CHRD.json
{
  "createdAt": "2026-02-24T07:03:38.963Z",
  "updatedAt": "2026-02-24T07:26:55.000Z",
  "id": "jCzHYtDbWQg5GHyb",
  "name": "Integrations_RMA_CHRD",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        180
      ],
      "id": "2cc9ded3-43f8-42b0-a409-ccabca6133dc",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst today = new Date();\n\nfor (let i = 1; i <= 3; i++) {  // on commence à 1 pour exclure le mois courant\n    const date = new Date(today.getFullYear(), today.getMonth() - i, 1);\n\n    const year = date.getFullYear();\n    const month = String(date.getMonth() + 1).padStart(2, '0');\n\n    results.push({\n        json: {\n            period: `${year}${month}`\n        }\n    });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        180
      ],
      "id": "fb76bfd4-196c-41a7-8598-fb1ddafb11c3",
      "name": "Periode"
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -280,
        180
      ],
      "id": "1ec3ee9e-c8ac-40cb-9768-e469ef0accfe",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.dhis2-pivot.org/prod/api/dataValueSets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        0
      ],
      "id": "1ef28ee9-c959-48f1-9ced-d07fba8c00f0",
      "name": "DHIS2_Pivot",
      "credentials": {
        "httpBasicAuth": {
          "id": "sUbBPqmnXUqoCkOa",
          "name": "conn_Dhis2_Pivot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.dhis2-pivot.org/prod/api/dataValueSets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        200
      ],
      "id": "981e876b-46a8-46cc-b266-90355cd1dcde",
      "name": "DHIS2_Pivot1",
      "credentials": {
        "httpBasicAuth": {
          "id": "sUbBPqmnXUqoCkOa",
          "name": "conn_Dhis2_Pivot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.dhis2-pivot.org/prod/api/dataValueSets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        400
      ],
      "id": "7c73b6f8-b875-4c8e-b29f-91ac4cced935",
      "name": "DHIS2_Pivot2",
      "credentials": {
        "httpBasicAuth": {
          "id": "sUbBPqmnXUqoCkOa",
          "name": "conn_Dhis2_Pivot"
        }
      }
    },
    {
      "parameters": {
        "url": "https://ministere-sante.mg/api/dataValueSets?",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dataSet",
              "value": "XH4MSdxFKe5"
            },
            {
              "name": "period",
              "value": "={{ $json.period }}"
            },
            {
              "name": "orgUnit",
              "value": "GDBYpa6pDOe"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "f03cbc6b-f368-4d51-a92a-f8d5bd603ed3",
      "name": "DHIS2_Min_Ifanadiana",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "JneMYHqJc9mqYpv5",
          "name": "conn_dhis_Min"
        }
      }
    },
    {
      "parameters": {
        "url": "https://ministere-sante.mg/api/dataValueSets?",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dataSet",
              "value": "XH4MSdxFKe5"
            },
            {
              "name": "period",
              "value": "={{ $json.period }}"
            },
            {
              "name": "orgUnit",
              "value": "cPkdD7UhXmn"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        200
      ],
      "id": "27a61f10-5a5b-4c37-8dfc-677e7a5aaa7f",
      "name": "DHIS2_Min_Manajary",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "JneMYHqJc9mqYpv5",
          "name": "conn_dhis_Min"
        }
      }
    },
    {
      "parameters": {
        "url": "https://ministere-sante.mg/api/dataValueSets?",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dataSet",
              "value": "XH4MSdxFKe5"
            },
            {
              "name": "period",
              "value": "={{ $json.period }}"
            },
            {
              "name": "orgUnit",
              "value": "GM6MGTic1DQ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        400
      ],
      "id": "31c20e7e-2eee-44f4-afde-9fb62117320f",
      "name": "DHIS2_Min_Nosy_varika",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "JneMYHqJc9mqYpv5",
          "name": "conn_dhis_Min"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n\n    const newItem = { ...item.json };\n\n    // Modifier dataSet\n    newItem.dataSet = \"sTdqwhFX0qj\";\n\n    // Mettre completeDate à null\n    newItem.completeDate = null;\n\n    // Si dataValues existe, on peut aussi modifier dedans si nécessaire\n    if (newItem.dataValues && Array.isArray(newItem.dataValues)) {\n        newItem.dataValues = newItem.dataValues.map(dv => ({\n            ...dv\n        }));\n    }\n\n    return {\n        json: newItem\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "id": "85f7caef-b674-4023-96c2-bcf2d4696f6b",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n\n    const newItem = { ...item.json };\n\n    // Modifier dataSet\n    newItem.dataSet = \"sTdqwhFX0qj\";\n\n    // Mettre completeDate à null\n    newItem.completeDate = null;\n\n    // Si dataValues existe, on peut aussi modifier dedans si nécessaire\n    if (newItem.dataValues && Array.isArray(newItem.dataValues)) {\n        newItem.dataValues = newItem.dataValues.map(dv => ({\n            ...dv\n        }));\n    }\n\n    return {\n        json: newItem\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        200
      ],
      "id": "92e8f78a-228c-4915-b331-71a0e9a689d2",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n\n    const newItem = { ...item.json };\n\n    // Modifier dataSet\n    newItem.dataSet = \"sTdqwhFX0qj\";\n\n    // Mettre completeDate à null\n    newItem.completeDate = null;\n\n    // Si dataValues existe, on peut aussi modifier dedans si nécessaire\n    if (newItem.dataValues && Array.isArray(newItem.dataValues)) {\n        newItem.dataValues = newItem.dataValues.map(dv => ({\n            ...dv\n        }));\n    }\n\n    return {\n        json: newItem\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        400
      ],
      "id": "daeed832-afb5-4ae2-9ebf-b0fdbcf6d9e0",
      "name": "Code2"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Periode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Periode": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "DHIS2_Min_Ifanadiana",
            "type": "main",
            "index": 0
          },
          {
            "node": "DHIS2_Min_Manajary",
            "type": "main",
            "index": 0
          },
          {
            "node": "DHIS2_Min_Nosy_varika",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DHIS2_Min_Ifanadiana": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DHIS2_Min_Manajary": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DHIS2_Min_Nosy_varika": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "DHIS2_Pivot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "DHIS2_Pivot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "DHIS2_Pivot2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b11e79e3-f7ca-4479-8ed7-ee719895be48",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2026-02-24T07:03:38.965Z",
      "updatedAt": "2026-02-24T07:03:38.965Z",
      "role": "workflow:owner",
      "workflowId": "jCzHYtDbWQg5GHyb",
      "projectId": "uLic4LQeiu2ehDtB",
      "project": {
        "createdAt": "2026-02-23T18:19:39.884Z",
        "updatedAt": "2026-02-23T18:21:08.059Z",
        "id": "uLic4LQeiu2ehDtB",
        "name": "ANDRY HErinomena <a.herinomena11@gmail.com>",
        "type": "personal",
        "projectRelations": [
          {
            "createdAt": "2026-02-23T18:19:39.884Z",
            "updatedAt": "2026-02-23T18:19:39.884Z",
            "role": "project:personalOwner",
            "userId": "01af5c13-6bdb-4bd2-a09b-9228169e64fa",
            "projectId": "uLic4LQeiu2ehDtB",
            "user": {
              "createdAt": "2026-02-23T18:19:39.651Z",
              "updatedAt": "2026-02-23T18:21:11.000Z",
              "id": "01af5c13-6bdb-4bd2-a09b-9228169e64fa",
              "email": "a.herinomena11@gmail.com",
              "firstName": "ANDRY",
              "lastName": "HErinomena",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-23T18:21:11.818Z",
                "personalization_survey_n8n_version": "1.70.0"
              },
              "settings": {
                "userActivated": false
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
