exports/Integration-RMA-CSB.json
{
  "createdAt": "2026-02-24T05:38:33.301Z",
  "updatedAt": "2026-02-24T07:05:03.000Z",
  "id": "NOKSlp8wdbA1ILwi",
  "name": "Integration_RMA_CSB",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -420,
        180
      ],
      "id": "ac97f3d4-06d3-4061-9b6d-b00549a9f80a",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst today = new Date();\n\nfor (let i = 1; i <= 3; i++) {  // on commence à 1 pour exclure le mois courant\n    const date = new Date(today.getFullYear(), today.getMonth() - i, 1);\n\n    const year = date.getFullYear();\n    const month = String(date.getMonth() + 1).padStart(2, '0');\n\n    results.push({\n        json: {\n            period: `${year}${month}`\n        }\n    });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -140,
        180
      ],
      "id": "717716b3-743d-482e-b2fa-b890863d56c0",
      "name": "Periode"
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        80,
        180
      ],
      "id": "6477c688-1d6a-4d2d-868a-a1ed1012bbd0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.dhis2-pivot.org/prod/api/dataValueSets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "id": "2fbbd9be-e6e6-40ee-a503-289dfcabd982",
      "name": "DHIS2_Pivot",
      "credentials": {
        "httpBasicAuth": {
          "id": "sUbBPqmnXUqoCkOa",
          "name": "conn_Dhis2_Pivot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.dhis2-pivot.org/prod/api/dataValueSets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        200
      ],
      "id": "4778422a-4d6d-4244-9e46-eaac5535b834",
      "name": "DHIS2_Pivot1",
      "credentials": {
        "httpBasicAuth": {
          "id": "sUbBPqmnXUqoCkOa",
          "name": "conn_Dhis2_Pivot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.dhis2-pivot.org/prod/api/dataValueSets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        400
      ],
      "id": "3c3aedcc-ad41-442c-a198-621553ddbe4a",
      "name": "DHIS2_Pivot2",
      "credentials": {
        "httpBasicAuth": {
          "id": "sUbBPqmnXUqoCkOa",
          "name": "conn_Dhis2_Pivot"
        }
      }
    },
    {
      "parameters": {
        "url": "https://ministere-sante.mg/api/dataValueSets?",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dataSet",
              "value": "mQEM6Pdzg8p"
            },
            {
              "name": "period",
              "value": "={{ $json.period }}"
            },
            {
              "name": "orgUnit",
              "value": "D9UWDj19ljP,U1YeJp3NDNV,QHPyq70qulM,M38BJM8ju1A,WCqkkkKNJEi,Pi2y9HFBDRj,h0z1bKoHDrU,YCvVB1VwWi0,mBZLeZ7Irx6,hXuxS0MOq3b,z6kDxHwInUT,okDqhh9n4yT,pczrAub8lnt,EE6WwIMgQ0F,O1wNJut8eci,RRe6ic0AU1Z,ZPvH8UsgwYv,DDR2w1c1GyE,r4U7PhBKR7S,uWoBok9YyvB,FGM6Ric1YnC,c2AYc6zu00e,A3hiudw2Rr4,b5rHHqkmI2a"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        0
      ],
      "id": "52c25ec0-d636-472b-bb81-ffdaa6fba02f",
      "name": "DHIS2_Min_Ifanadiana",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "JneMYHqJc9mqYpv5",
          "name": "conn_dhis_Min"
        }
      }
    },
    {
      "parameters": {
        "url": "https://ministere-sante.mg/api/dataValueSets?",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dataSet",
              "value": "mQEM6Pdzg8p"
            },
            {
              "name": "period",
              "value": "={{ $json.period }}"
            },
            {
              "name": "orgUnit",
              "value": "TheMkAkfvgn,BxpH1ND8KFP,Ht69V3vwfVs,SOYJNYkE3Ah,xFewURfeM6L,gGzLr4oo3Pm,JJPXmBBn47m,BbsaOL1ndvg,KXNLOAzcjfG,Qy7TBEcefE9,eQSREv9e1bq,Y8p37aLjrHn,Znyo1UWzmFH,AxTFbOBjP1K,Dzr57TxAG74,onLZ8h8Nng2,YxrZbfqDA6r,EYZ5Ej566ob,bnMM4PwDm3F,IQ82WcLTcGX,dSY2oZjJcwj,kraCyRAvVgQ,A38WhL0NPsX,ErLw9twd3q5,VW9Pm0uz6SX,ebRE2LEmvie,zMJxWJIgF5N,xIpy9Oaipvh,ZboIy43ZwzX,cPkdD7UhXmn,IRn2N8HJCVT,mHDPNIDOecN,MV5fSBnQpFC,R6evSAV8MdQ,AikfHtzeOOW,NA1FBm3XUuW,ngHZIXy1Cyw,juLcMFcd4Fv,NaHyGHPvH7A,tHaaamft4vA,A0YU5ksfXZS,INrXsjpFZU8,pfav1hH9Nuf,eHk9mLUogOz,aihwzCRcQS3,vPmCzlQD5a8,elIt2dLIHBw,I0zrAwM5gZL,nE3sJcoVkhr,ZpdAbOChH4T,FNRS263It3k"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        200
      ],
      "id": "3ae868d9-10b1-42b0-ac4a-c4223db2b9c9",
      "name": "DHIS2_Min_Mananjary",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "JneMYHqJc9mqYpv5",
          "name": "conn_dhis_Min"
        }
      }
    },
    {
      "parameters": {
        "url": "https://ministere-sante.mg/api/dataValueSets?",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dataSet",
              "value": "mQEM6Pdzg8p"
            },
            {
              "name": "period",
              "value": "={{ $json.period }}"
            },
            {
              "name": "orgUnit",
              "value": "TheMkAkfvgn,BxpH1ND8KFP,Ht69V3vwfVs,SOYJNYkE3Ah,xFewURfeM6L,gGzLr4oo3Pm,JJPXmBBn47m,BbsaOL1ndvg,KXNLOAzcjfG,Qy7TBEcefE9,eQSREv9e1bq,Y8p37aLjrHn,Znyo1UWzmFH,AxTFbOBjP1K,Dzr57TxAG74,onLZ8h8Nng2,YxrZbfqDA6r,EYZ5Ej566ob,bnMM4PwDm3F,IQ82WcLTcGX,dSY2oZjJcwj,kraCyRAvVgQ,A38WhL0NPsX,ErLw9twd3q5,VW9Pm0uz6SX,ebRE2LEmvie,zMJxWJIgF5N,xIpy9Oaipvh,ZboIy43ZwzX,cPkdD7UhXmn,IRn2N8HJCVT,mHDPNIDOecN,MV5fSBnQpFC,R6evSAV8MdQ,AikfHtzeOOW,NA1FBm3XUuW,ngHZIXy1Cyw,juLcMFcd4Fv,NaHyGHPvH7A,tHaaamft4vA,A0YU5ksfXZS,INrXsjpFZU8,pfav1hH9Nuf,eHk9mLUogOz,aihwzCRcQS3,vPmCzlQD5a8,elIt2dLIHBw,I0zrAwM5gZL,nE3sJcoVkhr,ZpdAbOChH4T,FNRS263It3k"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        400
      ],
      "id": "deb400a9-f06b-472b-8a2f-443f36b1bd75",
      "name": "DHIS2_Min_Nosy_Varika",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "JneMYHqJc9mqYpv5",
          "name": "conn_dhis_Min"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Periode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "DHIS2_Min_Ifanadiana",
            "type": "main",
            "index": 0
          },
          {
            "node": "DHIS2_Min_Mananjary",
            "type": "main",
            "index": 0
          },
          {
            "node": "DHIS2_Min_Nosy_Varika",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Periode": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DHIS2_Min_Ifanadiana": {
      "main": [
        [
          {
            "node": "DHIS2_Pivot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DHIS2_Min_Mananjary": {
      "main": [
        [
          {
            "node": "DHIS2_Pivot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DHIS2_Min_Nosy_Varika": {
      "main": [
        [
          {
            "node": "DHIS2_Pivot2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7b1dbef2-2b49-4ca1-b79d-03c28733d3e2",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2026-02-24T05:38:33.304Z",
      "updatedAt": "2026-02-24T05:38:33.304Z",
      "role": "workflow:owner",
      "workflowId": "NOKSlp8wdbA1ILwi",
      "projectId": "uLic4LQeiu2ehDtB",
      "project": {
        "createdAt": "2026-02-23T18:19:39.884Z",
        "updatedAt": "2026-02-23T18:21:08.059Z",
        "id": "uLic4LQeiu2ehDtB",
        "name": "ANDRY HErinomena <a.herinomena11@gmail.com>",
        "type": "personal",
        "projectRelations": [
          {
            "createdAt": "2026-02-23T18:19:39.884Z",
            "updatedAt": "2026-02-23T18:19:39.884Z",
            "role": "project:personalOwner",
            "userId": "01af5c13-6bdb-4bd2-a09b-9228169e64fa",
            "projectId": "uLic4LQeiu2ehDtB",
            "user": {
              "createdAt": "2026-02-23T18:19:39.651Z",
              "updatedAt": "2026-02-23T18:21:11.000Z",
              "id": "01af5c13-6bdb-4bd2-a09b-9228169e64fa",
              "email": "a.herinomena11@gmail.com",
              "firstName": "ANDRY",
              "lastName": "HErinomena",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-23T18:21:11.818Z",
                "personalization_survey_n8n_version": "1.70.0"
              },
              "settings": {
                "userActivated": false
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
