exports/n8n_workflows_restored_20260304_102513.json
[
{"id":"RMReiIcSKt70jUKR","name":"Integration_analytics_District","active":0,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-784,192],"id":"91336118-efbf-4a65-957f-b6ed3985defb","name":"When clicking ‘Test workflow’"},{"parameters":{"jsCode":"const results = [];\nconst today = new Date();\n\nfor (let i = 1; i <= 3; i++) {  // on commence à 1 pour exclure le mois courant\n    const date = new Date(today.getFullYear(), today.getMonth() - i, 1);\n\n    const year = date.getFullYear();\n    const month = String(date.getMonth() + 1).padStart(2, '0');\n\n    results.push({\n        json: {\n            period: `${year}${month}`\n        }\n    });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,192],"id":"9d1f872f-7fef-460e-9a70-6d167646d77f","name":"Periode"},{"parameters":{"batchSize":3,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-288,192],"id":"d68a3533-1ae1-42eb-961b-b70666a0ebb6","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://www.dhis2-pivot.org/prod/api/dataValueSets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,0],"id":"5874d8c7-9c04-41bd-9f6c-6446736d6a7f","name":"DHIS2_Pivot","credentials":{"httpBasicAuth":{"id":"p9cTlskWO88dMZER","name":"Conn_DHIS2_Pivot"}}},{"parameters":{"method":"POST","url":"https://www.dhis2-pivot.org/prod/api/dataValueSets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[544,208],"id":"92e673fd-bae3-44f9-8ce1-88031dc28863","name":"DHIS2_Pivot1","credentials":{"httpBasicAuth":{"id":"p9cTlskWO88dMZER","name":"Conn_DHIS2_Pivot"}}},{"parameters":{"method":"POST","url":"https://www.dhis2-pivot.org/prod/api/dataValueSets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[544,400],"id":"b39a8212-6b70-4f73-88a8-20ee615f6ca3","name":"DHIS2_Pivot2","credentials":{"httpBasicAuth":{"id":"p9cTlskWO88dMZER","name":"Conn_DHIS2_Pivot"}}},{"parameters":{"url":"https://ministere-sante.mg/api/dataValueSets?","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"dataSet","value":"XH4MSdxFKe5"},{"name":"period","value":"={{ $json.period }}"},{"name":"orgUnit","value":"GDBYpa6pDOe"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"e39de400-2ee8-43c5-bb3a-76187bf732f7","name":"DHIS2_Min_Ifanadiana","alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"SYuBZNWp7QjG6Tsf","name":"Conn_DHIS2_Ministere"}}},{"parameters":{"url":"https://ministere-sante.mg/api/dataValueSets?","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"dataSet","value":"XH4MSdxFKe5"},{"name":"period","value":"={{ $json.period }}"},{"name":"orgUnit","value":"cPkdD7UhXmn"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,208],"id":"5ba3624c-cf14-4df6-924d-14ec2bbdfd31","name":"DHIS2_Min_Manajary","alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"SYuBZNWp7QjG6Tsf","name":"Conn_DHIS2_Ministere"}}},{"parameters":{"url":"https://ministere-sante.mg/api/dataValueSets?","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"dataSet","value":"XH4MSdxFKe5"},{"name":"period","value":"={{ $json.period }}"},{"name":"orgUnit","value":"GM6MGTic1DQ"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,400],"id":"299f43c2-a6f1-4c60-91f0-79ecbfedd38a","name":"DHIS2_Min_Nosy_varika","alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"SYuBZNWp7QjG6Tsf","name":"Conn_DHIS2_Ministere"}}},{"parameters":{"jsCode":"return items.map(item => {\n\n    const newItem = { ...item.json };\n\n    // Modifier dataSet\n    newItem.dataSet = \"sTdqwhFX0qj\";\n\n    // Mettre completeDate à null\n    newItem.completeDate = null;\n\n    // Si dataValues existe, on peut aussi modifier dedans si nécessaire\n    if (newItem.dataValues && Array.isArray(newItem.dataValues)) {\n        newItem.dataValues = newItem.dataValues.map(dv => ({\n            ...dv\n        }));\n    }\n\n    return {\n        json: newItem\n    };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,0],"id":"eaefc229-090a-4669-8a00-ecb490b943b0","name":"Code"},{"parameters":{"jsCode":"return items.map(item => {\n\n    const newItem = { ...item.json };\n\n    // Modifier dataSet\n    newItem.dataSet = \"sTdqwhFX0qj\";\n\n    // Mettre completeDate à null\n    newItem.completeDate = null;\n\n    // Si dataValues existe, on peut aussi modifier dedans si nécessaire\n    if (newItem.dataValues && Array.isArray(newItem.dataValues)) {\n        newItem.dataValues = newItem.dataValues.map(dv => ({\n            ...dv\n        }));\n    }\n\n    return {\n        json: newItem\n    };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,208],"id":"76be1102-df46-4a6b-b46e-5d90a2181f9d","name":"Code1"},{"parameters":{"jsCode":"return items.map(item => {\n\n    const newItem = { ...item.json };\n\n    // Modifier dataSet\n    newItem.dataSet = \"sTdqwhFX0qj\";\n\n    // Mettre completeDate à null\n    newItem.completeDate = null;\n\n    // Si dataValues existe, on peut aussi modifier dedans si nécessaire\n    if (newItem.dataValues && Array.isArray(newItem.dataValues)) {\n        newItem.dataValues = newItem.dataValues.map(dv => ({\n            ...dv\n        }));\n    }\n\n    return {\n        json: newItem\n    };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,400],"id":"84e288e5-08eb-426a-a81b-d6c705487386","name":"Code2"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Periode","type":"main","index":0}]]},"Periode":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"DHIS2_Min_Ifanadiana","type":"main","index":0},{"node":"DHIS2_Min_Manajary","type":"main","index":0},{"node":"DHIS2_Min_Nosy_varika","type":"main","index":0}]]},"DHIS2_Min_Ifanadiana":{"main":[[{"node":"Code","type":"main","index":0}]]},"DHIS2_Min_Manajary":{"main":[[{"node":"Code1","type":"main","index":0}]]},"DHIS2_Min_Nosy_varika":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code":{"main":[[{"node":"DHIS2_Pivot","type":"main","index":0}]]},"Code1":{"main":[[{"node":"DHIS2_Pivot1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"DHIS2_Pivot2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"pinData":{},"versionId":"019c1ba5-95d3-4f81-bc6d-9d758185ae85","triggerCount":0,"meta":null,"parentFolderId":null,"createdAt":"2026-03-03 05:49:36.350","updatedAt":"2026-03-03 06:16:12.760","isArchived":0,"versionCounter":12,"description":null},
{"id":"VKXTaV4ZIPMU3x75","name":"Integration_analytics_District","active":0,"nodes":[{"parameters":{"jsCode":"const results = [];\nconst today = new Date();\n\nfor (let i = 1; i <= 6; i++) {  // on commence à 1 pour exclure le mois courant\n    const date = new Date(today.getFullYear(), today.getMonth() - i, 1);\n\n    const year = date.getFullYear();\n    const month = String(date.getMonth() + 1).padStart(2, '0');\n\n    results.push({\n        json: {\n            period: `${year}${month}`\n        }\n    });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,192],"id":"35064eb0-f605-42b7-b0c8-a789bbd2ff11","name":"Periode"},{"parameters":{"batchSize":6,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-304,192],"id":"71e2ba32-d957-4524-8151-17e288f1eb50","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://www.dhis2-pivot.org/prod/api/dataValueSets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,0],"id":"25cf6796-64b4-4823-9706-4e95623e92d4","name":"DHIS2_Pivot"},{"parameters":{"method":"POST","url":"https://www.dhis2-pivot.org/prod/api/dataValueSets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,208],"id":"7b3e697a-ca63-4167-ab54-654eec04cca3","name":"DHIS2_Pivot1"},{"parameters":{"method":"POST","url":"https://www.dhis2-pivot.org/prod/api/dataValueSets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,400],"id":"49459cb9-2bd7-4fb3-9f62-98051170abcb","name":"DHIS2_Pivot2"},{"parameters":{"url":"=https://ministere-sante.mg/api/analytics?dimension=dx:lq38tLcfEi7&dimension=ou:VtP4BdCeXIo&dimension=pe:{{ $json.period }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"56227eda-3dc0-4e2a-afbc-e2f621c10299","name":"DHIS2_Min_Ifanadiana","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-816,192],"id":"86192168-7f21-4baa-af15-1097e2cb9761","name":"When clicking ‘Test workflow’"},{"parameters":{"jsCode":"const dataSetId = \"qNTxFeMEaKj\";   // ton dataset cible\nconst completeDate = null;        // ← maintenant null\n\nconst dataValues = [];\nlet globalOrgUnit = null;\n\nfor (const item of $input.all()) {\n\n    const rows = item.json.rows || [];\n\n    for (const row of rows) {\n\n        const dataElement = row[0];\n        const orgUnit = row[1];\n        const period = row[2];\n        const value = row[3];\n\n        globalOrgUnit = orgUnit; \n\n        dataValues.push({\n            dataElement,\n            period,\n            orgUnit,\n            value\n        });\n    }\n}\n\nreturn [\n  {\n    json: {\n      dataSet: dataSetId,\n      completeDate: completeDate,\n      orgUnit: globalOrgUnit,\n      dataValues: dataValues\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"5735fc13-05ca-4ef4-acae-1eb1de9a6da3","name":"Code"},{"parameters":{"jsCode":"const dataSetId = \"qNTxFeMEaKj\";   // ton dataset cible\nconst completeDate = null;        // ← maintenant null\n\nconst dataValues = [];\nlet globalOrgUnit = null;\n\nfor (const item of $input.all()) {\n\n    const rows = item.json.rows || [];\n\n    for (const row of rows) {\n\n        const dataElement = row[0];\n        const orgUnit = row[1];\n        const period = row[2];\n        const value = row[3];\n\n        globalOrgUnit = orgUnit; \n\n        dataValues.push({\n            dataElement,\n            period,\n            orgUnit,\n            value\n        });\n    }\n}\n\nreturn [\n  {\n    json: {\n      dataSet: dataSetId,\n      completeDate: completeDate,\n      orgUnit: globalOrgUnit,\n      dataValues: dataValues\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,208],"id":"6a378bfe-efd0-4a1e-b956-a9a5d50871e1","name":"Code1"},{"parameters":{"jsCode":"const dataSetId = \"qNTxFeMEaKj\";   // ton dataset cible\nconst completeDate = null;        // ← maintenant null\n\nconst dataValues = [];\nlet globalOrgUnit = null;\n\nfor (const item of $input.all()) {\n\n    const rows = item.json.rows || [];\n\n    for (const row of rows) {\n\n        const dataElement = row[0];\n        const orgUnit = row[1];\n        const period = row[2];\n        const value = row[3];\n\n        globalOrgUnit = orgUnit; \n\n        dataValues.push({\n            dataElement,\n            period,\n            orgUnit,\n            value\n        });\n    }\n}\n\nreturn [\n  {\n    json: {\n      dataSet: dataSetId,\n      completeDate: completeDate,\n      orgUnit: globalOrgUnit,\n      dataValues: dataValues\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,400],"id":"87922fca-e1c3-4a7e-bc97-ff268fb3e1af","name":"Code3"},{"parameters":{"url":"=https://ministere-sante.mg/api/analytics?dimension=dx:lq38tLcfEi7&dimension=ou:hBOXdumAvNc&dimension=pe:{{ $json.period }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,208],"id":"26ee120d-6533-4bc0-b38f-4f6c95991631","name":"DHIS2_Min_Mananjary","alwaysOutputData":true},{"parameters":{"url":"=https://ministere-sante.mg/api/analytics?dimension=dx:lq38tLcfEi7&dimension=ou:xofSjjKe6rZ&dimension=pe:{{ $json.period }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,400],"id":"7ecc0032-8317-4a38-874b-9a7909a6f3d4","name":"DHIS2_Min_Nosy varika","alwaysOutputData":true}],"connections":{"Periode":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"DHIS2_Min_Ifanadiana","type":"main","index":0},{"node":"DHIS2_Min_Mananjary","type":"main","index":0},{"node":"DHIS2_Min_Nosy varika","type":"main","index":0}]]},"DHIS2_Min_Ifanadiana":{"main":[[{"node":"Code","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Periode","type":"main","index":0}]]},"Code":{"main":[[{"node":"DHIS2_Pivot","type":"main","index":0}]]},"DHIS2_Min_Mananjary":{"main":[[{"node":"Code1","type":"main","index":0}]]},"DHIS2_Min_Nosy varika":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"DHIS2_Pivot2","type":"main","index":0}]]},"Code1":{"main":[[{"node":"DHIS2_Pivot1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"pinData":{},"versionId":"6f69c8dd-0f86-448a-9a0d-000e5f1f51e4","triggerCount":0,"meta":null,"parentFolderId":null,"createdAt":"2026-03-03 05:50:13.875","updatedAt":"2026-03-03 05:50:13.875","isArchived":0,"versionCounter":1,"description":null},
{"id":"Df9FfvR5ZbFuJJRL","name":"Integration_analytics_Commune","active":0,"nodes":[{"parameters":{"jsCode":"const dataSetId = \"qNTxFeMEaKj\";   // ton dataset cible\nconst completeDate = null;        // ← maintenant null\n\nconst dataValues = [];\nlet globalOrgUnit = null;\n\nfor (const item of $input.all()) {\n\n    const rows = item.json.rows || [];\n\n    for (const row of rows) {\n\n        const dataElement = row[0];\n        const orgUnit = row[1];\n        const period = row[2];\n        const value = row[3];\n\n        globalOrgUnit = orgUnit; \n\n        dataValues.push({\n            dataElement,\n            period,\n            orgUnit,\n            value\n        });\n    }\n}\n\nreturn [\n  {\n    json: {\n      dataSet: dataSetId,\n      completeDate: completeDate,\n      orgUnit: globalOrgUnit,\n      dataValues: dataValues\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,352],"id":"63745a38-405d-4540-bd98-2e2a90b2dcf0","name":"Code3"},{"parameters":{"jsCode":"const dataSetId = \"qNTxFeMEaKj\";   // ton dataset cible\nconst completeDate = null;        // ← maintenant null\n\nconst dataValues = [];\nlet globalOrgUnit = null;\n\nfor (const item of $input.all()) {\n\n    const rows = item.json.rows || [];\n\n    for (const row of rows) {\n\n        const dataElement = row[0];\n        const orgUnit = row[1];\n        const period = row[2];\n        const value = row[3];\n\n        globalOrgUnit = orgUnit; \n\n        dataValues.push({\n            dataElement,\n            period,\n            orgUnit,\n            value\n        });\n    }\n}\n\nreturn [\n  {\n    json: {\n      dataSet: dataSetId,\n      completeDate: completeDate,\n      orgUnit: globalOrgUnit,\n      dataValues: dataValues\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"ba92790b-a3dc-4875-bf63-f41846d0245b","name":"Code"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-816,192],"id":"8e3bd204-2a3f-4f55-85ca-175a76dfd44d","name":"When clicking ‘Test workflow’"},{"parameters":{"method":"POST","url":"https://www.dhis2-pivot.org/prod/api/dataValueSets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,352],"id":"0c96c725-1c88-45e9-8e68-95866ed6eea5","name":"DHIS2_Pivot2","credentials":{"httpBasicAuth":{"id":"p9cTlskWO88dMZER","name":"Conn_DHIS2_Pivot"}}},{"parameters":{"method":"POST","url":"https://www.dhis2-pivot.org/prod/api/dataValueSets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,0],"id":"c2d513f3-fa35-4070-9cce-4a2117ef7b50","name":"DHIS2_Pivot","credentials":{"httpBasicAuth":{"id":"p9cTlskWO88dMZER","name":"Conn_DHIS2_Pivot"}}},{"parameters":{"batchSize":6,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-304,192],"id":"8cea30ee-25b6-4ebd-9b4d-fa9eaff111a9","name":"Loop Over Items"},{"parameters":{"jsCode":"const results = [];\nconst today = new Date();\n\nfor (let i = 1; i <= 6; i++) {  // on commence à 1 pour exclure le mois courant\n    const date = new Date(today.getFullYear(), today.getMonth() - i, 1);\n\n    const year = date.getFullYear();\n    const month = String(date.getMonth() + 1).padStart(2, '0');\n\n    results.push({\n        json: {\n            period: `${year}${month}`\n        }\n    });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,192],"id":"9bc0300c-7d2b-4793-9b3c-b97ad69523c1","name":"Periode"},{"parameters":{"url":"=https://ministere-sante.mg/api/analytics?dimension=dx:lq38tLcfEi7&dimension=ou:k3WrjJA0lAl;EJAuqgyM0TQ;WALimJEIpus;sE1tC31Jr1Z;LTkwgna8nWH;ETF5u6dEzRV;lcJ6Bn6Xwbr;vhRYxLPJeDi;usKgUaPXahQ;LgRsvkPQthm;tHhNGMv20B3;v0y8WKasENm;s5v62m0wukR;zCTwJPToyHS;fSMfRSl9h7r&dimension=pe:{{ $json.period }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"4cb56488-8432-4e36-97be-620e77b10f0a","name":"DHIS2_Min_Commune_Ifanadiana","alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"SYuBZNWp7QjG6Tsf","name":"Conn_DHIS2_Ministere"}}},{"parameters":{"url":"=https://ministere-sante.mg/api/analytics?dimension=dx:lq38tLcfEi7&dimension=ou:GYSCXYZyrek;IT92EGQN5FN;U00nCsiYB9S;QPACPpUC77X;erOl0D2daik;YoyYA1sPIr0;BQHvkzmyffh;mE5xB9TUGss;dQ4aXQtXbVx;cGXqEpgBovt;E6eLYKByJmd;hzZzd9siYaF;YTN1CUuKUUl;N5y82gledGB;Z2QJL736a3b;P1AKBUXiEsA;e0nxoW7wh5M;CQOywOI6An4;U5nHlgKm1fe&dimension=pe:{{ $json.period }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,352],"id":"fa4a0ade-3745-4d5f-958f-f7a4074c8c3d","name":"DHIS2_Min_Commune_Nosy varika","alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"SYuBZNWp7QjG6Tsf","name":"Conn_DHIS2_Ministere"}}}],"connections":{"Code3":{"main":[[{"node":"DHIS2_Pivot2","type":"main","index":0}]]},"Code":{"main":[[{"node":"DHIS2_Pivot","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Periode","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"DHIS2_Min_Commune_Ifanadiana","type":"main","index":0},{"node":"DHIS2_Min_Commune_Nosy varika","type":"main","index":0}]]},"Periode":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"DHIS2_Min_Commune_Ifanadiana":{"main":[[{"node":"Code","type":"main","index":0}]]},"DHIS2_Min_Commune_Nosy varika":{"main":[[{"node":"Code3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"pinData":{},"versionId":"3a04d540-2dab-474e-ba90-fd96d7f528fb","triggerCount":0,"meta":null,"parentFolderId":null,"createdAt":"2026-03-03 05:50:37.328","updatedAt":"2026-03-03 06:17:33.563","isArchived":0,"versionCounter":7,"description":null},
{"id":"NELN54Oc8DGQurDB","name":"Integration_analytics_CSB","active":0,"nodes":[{"parameters":{"jsCode":"const dataSetId = \"qNTxFeMEaKj\";   // ton dataset cible\nconst completeDate = null;        // ← maintenant null\n\nconst dataValues = [];\nlet globalOrgUnit = null;\n\nfor (const item of $input.all()) {\n\n    const rows = item.json.rows || [];\n\n    for (const row of rows) {\n\n        const dataElement = row[0];\n        const orgUnit = row[1];\n        const period = row[2];\n        const value = row[3];\n\n        globalOrgUnit = orgUnit; \n\n        dataValues.push({\n            dataElement,\n            period,\n            orgUnit,\n            value\n        });\n    }\n}\n\nreturn [\n  {\n    json: {\n      dataSet: dataSetId,\n      completeDate: completeDate,\n      orgUnit: globalOrgUnit,\n      dataValues: dataValues\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,352],"id":"8ff8bf37-2b7b-4b47-a70a-6adf32a92f9e","name":"Code3"},{"parameters":{"jsCode":"const dataSetId = \"qNTxFeMEaKj\";   // ton dataset cible\nconst completeDate = null;        // ← maintenant null\n\nconst dataValues = [];\nlet globalOrgUnit = null;\n\nfor (const item of $input.all()) {\n\n    const rows = item.json.rows || [];\n\n    for (const row of rows) {\n\n        const dataElement = row[0];\n        const orgUnit = row[1];\n        const period = row[2];\n        const value = row[3];\n\n        globalOrgUnit = orgUnit; \n\n        dataValues.push({\n            dataElement,\n            period,\n            orgUnit,\n            value\n        });\n    }\n}\n\nreturn [\n  {\n    json: {\n      dataSet: dataSetId,\n      completeDate: completeDate,\n      orgUnit: globalOrgUnit,\n      dataValues: dataValues\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"c671bc75-dc38-469b-ae68-d7b8e5054a28","name":"Code"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-816,192],"id":"6b29a0f1-59e2-47e5-b735-5250c72bf16f","name":"When clicking ‘Test workflow’"},{"parameters":{"method":"POST","url":"https://www.dhis2-pivot.org/prod/api/dataValueSets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,352],"id":"fb5e05a7-4c12-42d4-bd6d-8fc57f6d2892","name":"DHIS2_Pivot2"},{"parameters":{"method":"POST","url":"https://www.dhis2-pivot.org/prod/api/dataValueSets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,0],"id":"0c21cb05-66da-4a44-a287-30191f37473d","name":"DHIS2_Pivot"},{"parameters":{"batchSize":6,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-304,192],"id":"f3f769d9-1761-4ae7-92d4-62a2eb4fbf81","name":"Loop Over Items"},{"parameters":{"jsCode":"const results = [];\nconst today = new Date();\n\nfor (let i = 1; i <= 6; i++) {  // on commence à 1 pour exclure le mois courant\n    const date = new Date(today.getFullYear(), today.getMonth() - i, 1);\n\n    const year = date.getFullYear();\n    const month = String(date.getMonth() + 1).padStart(2, '0');\n\n    results.push({\n        json: {\n            period: `${year}${month}`\n        }\n    });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,192],"id":"9f743a7a-e7ea-4ed9-9322-2063170cad15","name":"Periode"},{"parameters":{"url":"=https://ministere-sante.mg/api/analytics?dimension=dx:lq38tLcfEi7&dimension=ou:D9UWDj19ljP;U1YeJp3NDNV;QHPyq70qulM;M38BJM8ju1A;WCqkkkKNJEi;Pi2y9HFBDRj;h0z1bKoHDrU;YCvVB1VwWi0;mBZLeZ7Irx6;hXuxS0MOq3b;z6kDxHwInUT;okDqhh9n4yT;pczrAub8lnt;EE6WwIMgQ0F;O1wNJut8eci;RRe6ic0AU1Z;ZPvH8UsgwYv;DDR2w1c1GyE;r4U7PhBKR7S;uWoBok9YyvB;FGM6Ric1YnC;c2AYc6zu00e;A3hiudw2Rr4;GDBYpa6pDOe;b5rHHqkmI2a&dimension=pe:{{ $json.period }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"f50eed96-538d-41f6-8668-781c2b09ea3e","name":"DHIS2_Min_CSB_Ifanadiana","alwaysOutputData":true},{"parameters":{"url":"=https://ministere-sante.mg/api/analytics?dimension=dx:lq38tLcfEi7&dimension=ou:IcMiQU9QW3l;diSP8NlOblg;wbnWeWIxXV6;x2NG6OgByyW;lIaVCjLWXYc;TXeWDCjAmaR;dzaTeu7rWtd;deMUdqCZSnE;y7SK3kXA1PW;xbmgFbAsjs8;lOonT3K0lGy;rPZA4HOPTo3;kvL3R5nif8u;liNQWaRIkqb;ylSfYC22EEB;JhQYIlxVg2W;GM6MGTic1DQ;HchHLQUUAbh;cp2lO2PyVj4;kztyvGPnWR7;X4SRnrSYWwg;reZwG5541C7;W8fiZ2dIEmI;VlX1os6qq1m;xUGh6ct7mEH;wR4eOoT36S0;UvdkmxaONmH;jhMynEYfQcG;XayRHbpjHQH;xOW0AHGbhzz;ywdasLE91Ac&dimension=pe:{{ $json.period }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,352],"id":"ea6d6b7f-b4c0-40a7-99ee-f330582880f1","name":"DHIS2_Min_CSB_Nosy varika","alwaysOutputData":true}],"connections":{"Code3":{"main":[[{"node":"DHIS2_Pivot2","type":"main","index":0}]]},"Code":{"main":[[{"node":"DHIS2_Pivot","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Periode","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"DHIS2_Min_CSB_Ifanadiana","type":"main","index":0},{"node":"DHIS2_Min_CSB_Nosy varika","type":"main","index":0}]]},"Periode":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"DHIS2_Min_CSB_Ifanadiana":{"main":[[{"node":"Code","type":"main","index":0}]]},"DHIS2_Min_CSB_Nosy varika":{"main":[[{"node":"Code3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"pinData":{},"versionId":"60d42a9a-1772-467a-a2a2-8e3639f71949","triggerCount":0,"meta":null,"parentFolderId":null,"createdAt":"2026-03-03 05:50:55.490","updatedAt":"2026-03-03 05:50:55.490","isArchived":0,"versionCounter":1,"description":null},
{"id":"wFdNVD1gbStp4sQk","name":"Integration_Rma_Com","active":0,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1248,224],"id":"9aedc5e3-e7f0-4366-a4ac-46c0c847b707","name":"When clicking ‘Test workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-368,208],"id":"5bf60cc9-ea22-4538-afb5-c05107c0ecc4","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://www.dhis2-pivot.org/prod/api/dataValueSets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,0],"id":"514cb52c-3dd4-48c8-97b3-f71e19ec13b1","name":"DHIS2_Pivot","credentials":{"httpBasicAuth":{"id":"p9cTlskWO88dMZER","name":"Conn_DHIS2_Pivot"}}},{"parameters":{"method":"POST","url":"https://www.dhis2-pivot.org/prod/api/dataValueSets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,224],"id":"48309934-7bcd-4524-af13-4047780b915e","name":"DHIS2_Pivot1","credentials":{"httpBasicAuth":{"id":"p9cTlskWO88dMZER","name":"Conn_DHIS2_Pivot"}}},{"parameters":{"method":"POST","url":"https://www.dhis2-pivot.org/prod/api/dataValueSets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,512],"id":"ea6e1991-80eb-43ae-9acc-5b179aa43d71","name":"DHIS2_Pivot2","credentials":{"httpBasicAuth":{"id":"p9cTlskWO88dMZER","name":"Conn_DHIS2_Pivot"}}},{"parameters":{"url":"https://ministere-sante.mg/api/dataValueSets?","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"dataSet","value":"qNTxFeMEaKj"},{"name":"startDate","value":"={{ $('Merge').item.json.startDate }}"},{"name":"endDate","value":"={{ $('Merge').item.json.endDate }}"},{"name":"orgUnit","value":"NHGlRwg0Qwu,nhp8hOvQUT3,NhBFAojLAnq,nHeDldiT3lB,NhcIarFZ0gg,NhgHicA7zmx,NpOSpQvGHoL,nPKeJthEM73,NPoWFLdHHLc,nPUb0c5EcMk,nPX6RxV9I6v,NoTbIakXnYE,NPG9aF3lhTC,NOf5U0kPmmS,noGSitwu1YV,nOvkLuoAvaE,nPjsBwjNwN5,nObSjXaMtmC,NojOuDYO6d9,noTUS4NpOt9,npDsoxdC4tm,NoYX2eHiThV,nPErooJK6FG,NOKJwSSC9yV,NOUicYmzdkM,NoDz1A2X03y,nongBlHhnBk,Np9zQuuUkT0,NocwbwPY49A,nnEsZM0lafn,nndvKJAei1g,NNHu1fGVJeX,NNFHN9ImezB,nn8l1jOZutK,nn5sGwD1W6w,nMZFiAgwNXH,nmwxOi0CZg5,nmD33chxaBT,nMvTEvhWAVW,NmREmw5LWic,nMpQCEjkTXZ,NmKPRZcZMBG,nn1WJO9yWZm,NmzeU6VaV8i,nMx63czP2Ae,NmhBxQ7PYdC,nmVtteBwOYq,nmEMBbaJyWU,nMfP4PUaIbF,NMImB5RkIZB,NQWJDtbt7ea,NQuW4Rtnjsl,nqyNM2FCYcn,nqsyqKRlhol,nqza6A6H399,NR1bX1UHhZM,nqW6laUJNx2,nr04NAmCslA,nNYf4rK6blR,NnTT4ov2gsL,NOaoxq3vnc0,NNjaGNXVzqY,NO8yCUU6eVK,nO6tTqYb8Zb,NnPOlH7LT8U,nnvIsl7XJkC,NnQL2GIb7Cb,NJybOHL5Q60,NjyAADlaV9O,nJUaKfgD6hA,nJl5WgER8PU,nJNZtfJ8P4s,njoFUbxjdeD,NjOlN7ogDI1,NjVre8e5OVb,njOofTRHfIV,Njr8K7rHENE,nJjPiK1qn75,njSiTzCwC07,NJuWC7bKGo7,NjsjGX3mti8,niqxHXfJaZg,nJg2gFtkEQG,nit1VMYMSEc,nIU59blKoSz,nJ41cDAbDTK,njF5rCZeEin,NjFmT8vGYte,Niqsy6XdJfM,njIuCDYoiFv,NjgEEmvRRTt,nmcOsX9DPDd,NM7oUDc02Td,nma7brQLV5w,nmble1lI52U,nm6sSeyEVgk,nmbm3mA5SlU,nM9ANDSCXa0,nQifiunYfC0,NqNvtciAHQJ,nqlkol82K9z,nqQz5XyejUS,nq5GI3F2CCZ,nQeIQIluSLN,NqDMBxPTOXL,nQ6JraTvdjw,nQI8STvRBzM,nqCwln4FrWj,NQfkydB4svK,NpYyCqxphO3,nQbxcyqYyE2,nQbP8ETTnR4,NQH6cejrFIJ,NqbcZ5fhraz,NGk42ableWs,NgNK7cFJDLR,ngOUK2x3rO8,nGswNcrtBCW,NGuHJF8vef8,NGxXvp7qi48,NGjuCieFofW,nh1SDW0DuQP,NH6km4XsRdx,NiOIIht8nBW,nI8ROa8oOxH,niA2fAJNCjN,nIcna9odW5i,NIF2yn3SFhU,niiqdtu9lFU,NiGaS2wQ7nC,NioaQKw6eR8,nIhczINg82d,Ni6HLgy72nt,NiPVq9fdj9I,niPWWDnI4AE,NSArSb3qq97,nsfCG9MeMiH,nSBC7TetHbn,nSEHyISB71L,nsfzdkukzul,nrZui26yNY2,NRg3HxY4ule,nsaKH6KRA5s,NRoO17yGFjs,nRg2aJuvpvz,NRKjtCAkdVI,NRZcm1lEy5u,NrHPCBkktgL,NrNhl3lT6q9,NRuWD8BM1jD,NR788pi0I3e,NRqeU3F5LoU,Nram346jMbY,NRcJD3FZ5fX,nkDyu1NI3yv,nJZGBECBspE,NK3wDj5Cl2d,NJZo855zRWU,NJzE9cyipSO,nKBNG4TA9ye,nK56bOPbkUF,NjYKxeiEw9k,njZCD2mJwsz,NJyJhwtcocK,nhR0Pat5DlD,NHsAEr2hrhx,NHTwonuDKC6,nHTZ72jAFvv,NhPMW9k508q,NHvhM6egCml,NHVkAeLFPcK,ni2fhsEBQV4,nll5Vf4HO0u,nm0fEIqvkKG,Nlj6ztotjaY,nlLJxsMVKbi,nm0HDq47aqP,nlyV8TTcLAC,nL4inf71e6v,NLhVCk2cWFQ,nKX9oIy5HTw,NLbaZ2vV52C,nLJ2df5ihXt,nLcJCGOmAq5,Nle2yV3LLqH,nKzUk8iUYao,Nl3gjVEOoCS,nKiccllE1Gt,NKVKLTSXOa9,NlgNaSRnFOb,NlA2gFHEn2e,NkUoPHdmiA2,nkIbspPvmRh,nkoqILeLIGJ,NKnlmpvCHID"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"5ddcb8c8-5e39-412d-9e9b-d1f6b40d63a7","name":"DHIS2_Min_Ifanadiana","alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"SYuBZNWp7QjG6Tsf","name":"Conn_DHIS2_Ministere"}}},{"parameters":{"jsCode":"const results = [];\nconst today = new Date();\n\nfor (let i = 1; i <= 3; i++) {  // exclut le mois courant\n    const date = new Date(today.getFullYear(), today.getMonth() - i, 1);\n\n    const year = date.getFullYear();\n    const month = String(date.getMonth() + 1).padStart(2, '0');\n\n    const startDate = `${year}-${month}-01`;\n\n    results.push({\n        json: {\n            startDate: startDate\n        }\n    });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,80],"id":"49404715-9452-495d-9947-6ef934b6dd8a","name":"startDate"},{"parameters":{"jsCode":"const results = [];\nconst today = new Date();\n\nfor (let i = 1; i <= 3; i++) {  // exclut le mois courant\n    \n    // Premier jour du mois précédent\n    const date = new Date(today.getFullYear(), today.getMonth() - i, 1);\n\n    const year = date.getFullYear();\n    const month = String(date.getMonth() + 1).padStart(2, '0');\n\n    // Dernier jour du mois :\n    // astuce : jour 0 du mois suivant = dernier jour du mois courant\n    const lastDayDate = new Date(year, date.getMonth() + 1, 0);\n    const lastDay = String(lastDayDate.getDate()).padStart(2, '0');\n\n    const endDate = `${year}-${month}-${lastDay}`;\n\n    results.push({\n        json: {\n            endDate: endDate\n        }\n    });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,352],"id":"83da0850-60b0-43d8-8e78-653471a84645","name":"endDate"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-720,208],"id":"40d2c53e-69a1-4d1c-92d7-a003f9c6c475","name":"Merge"},{"parameters":{"url":"https://ministere-sante.mg/api/dataValueSets?","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"dataSet","value":"qNTxFeMEaKj"},{"name":"startDate","value":"={{ $('Merge').item.json.startDate }}"},{"name":"endDate","value":"={{ $('Merge').item.json.endDate }}"},{"name":"orgUnit","value":"mX0r4qWG5tH,MWzOXZ0OCi4,mWYjd7l6HAr,MWwdcT8ymeW,mwvpja7dkl4,mWVArHmYzmj,MxSXZNqpJaj,mxqyYJGUoX7,mxvnCa9POAC,mxmc9MooAS6,mxvfUEPLrej,MXCn4tOX6pg,mx5QFM4WYkD,mxdIkypeYMD,mx3PD6YuOnN,MxINC7KeaaO,MxaayZVhVbB,mX3ergiSZpk,MxB53F0Df9d,MxzGEGPTgMm,my9f3adLxlj,mXXq72VIIoj,My3lP3uaw2O,My9BjOI1o6m,My8pyg8HifR,Mz62qH54bim,MZaTui7zLzI,Mz3aE1ccqiF,mzL9PBf0gGm,MZmi6Gkq4ba,mZJ87VyIelV,MyZGOELdGMX,myN1iOnWnxd,Mz1j1XfPoYJ,mYDNGPHWPTA,MYQCpwtIHn5,mYsCC2aH7vw,MyenqK5PsKr,mYnZimKXYL1,mZrPgkkaDIS,MZRojXcuGgp,MzvaEqWdQPi,MZXkSmDSsZf,MZTR7HdznnT,MZsiAMQbaA1,N0Qc5Wn4Yfj,n0YNSHx2OL8,N1B4my4Tsvs,N0zmv1SGHuy,N0LZ17vAx3m,N18L1cWSeJo,n0IMpUvRBcr,N0KKxsJuAE4,mzYJ74wMyRk,N00YPHlIWIK,n0hZNG2D5pj,n0CaLGUyPsm,n07Oyi0yGex,n1txNLmlNFJ,n1qhQckfF9d,n1tITOuWqTj,N1BN7OpevtW,n1nFDxPKQHB,n1Yf2oUdGxa,N1kFPk7nWuz,n2f6TQReLsU,N2glO686SML,N2Vq4SNsgaW,N2COVGsjAks,n24vq29Pf2r,n2CopSk7hqo,nBPtUO5rqTo,NBYjIGPPfUy,nc50KcJ1k6A,nBsZyTHOgSl,Nbx95yE0lU0,NBGp09sb15x,NCAA17HzDel,nc1gjp9uvKD,n3YMnl5xGAf,n4asbmLsCPe,N49r3uqo8Sz,N3OTwPrPUje,n4jQxG8HL3z,N4l4RM2tcZO,N4lpdPYcuTg,n4A8pKBKIe3,n37IcdBMLdA,n3mPb3TMKcA,n3elkRcB89d,n3DSsNHbfSO,OMu8OTiwiHK,N3wXl5Ga7we,N4FxgQCv8Dd,N4ZbZyrsK9s,N53LEDyqoAe,n4U5XIX8heB,n4XutwBF3aA,N4QjMbYPTvm,N4vAprEXdvy,N5PgoyDsfVR,n5cWuXGbkGw,N5ljK3DetCF,N5hpJLbp7nz,N5pvLe47hEy,n65KpwgJdlV,n6B1ZdlStCg,n5pYmtLcpXL,N5C2zCQp2X1,n5SOhaHQraj,n5yx0AEEFyd,n6A5hvyCHPi,n5Gron9ft7P,N5rE3wAeM7x,n7hHuAxfR1N,N7EKyN37EBG,N7JbF1rNR1S,n7aSwQUbIZL,N7jaCqlsCzu,N75spTdsZUt,n6ZGBgi7GKu,N7M9Qs0fAzl,n81hr8CBEbu,N7XV7YNThya,N7qlbph0EEs,n7UVSyMEGkf,n7mbudczRWY,n8evlB5Jypa,N8gdZv5P4qF,N8MRV85oyH7,n8b8EDPWbw7,N8ciEz9iOHa,N8VExStdiSH,N9MJRyNiQXJ,n9f9j5YSB59,n9oAldScBPF,n9k4eOamG9m,n9DlpdeghdJ,NaGqEmAW4kG,NaF9N1sMPiR,nAh1A2IPSG4,NAcVXQ6PNtz,NAahVvBdvK2,n9ui3TA9vGW,na2RyoE4BaO,NaCfz6ojNgx,n9q9cKYLdnb,nahNwLAZDBD,NaKLndVd7Gy,NAPB6q7D78y,NammUoGaIlW,nAhm4XcsoSA,NAiQE4iBV3y,NAosVzYWbcp,n5pYmtLcpXL,N5C2zCQp2X1,n5SOhaHQraj,n5yx0AEEFyd,n6A5hvyCHPi,n5Gron9ft7P,N5rE3wAeM7x,n7hHuAxfR1N,N7EKyN37EBG,N7JbF1rNR1S,n7aSwQUbIZL,N7jaCqlsCzu,N75spTdsZUt,n6ZGBgi7GKu,N7M9Qs0fAzl,n81hr8CBEbu,N7XV7YNThya,N7qlbph0EEs,n7UVSyMEGkf,n7mbudczRWY,n8evlB5Jypa,N8gdZv5P4qF,N8MRV85oyH7,n8b8EDPWbw7,N8ciEz9iOHa,N8VExStdiSH,N9MJRyNiQXJ,n9f9j5YSB59,n9oAldScBPF,n9k4eOamG9m,n9DlpdeghdJ,NaGqEmAW4kG,NaF9N1sMPiR,nAh1A2IPSG4,NAcVXQ6PNtz,NAahVvBdvK2,n9ui3TA9vGW,na2RyoE4BaO,NaCfz6ojNgx,n9q9cKYLdnb,nahNwLAZDBD,NaKLndVd7Gy,NAPB6q7D78y,NammUoGaIlW,nAhm4XcsoSA,NAiQE4iBV3y,NAosVzYWbcp,NB7eqXoE2R9,Nb4B3Eb0wTG,nAwYZvr4uXx,NAsl8Rx8H1z,nARV7hpZe81,nAQY3DLsuOv,narUrqXyfmL,naYQMideqXq,nAYTsq27Qme,NB5HPg4lZap,naPCltKBaZo,nB7r8fj1aJV,NBdT3iv0Jdd,NbCCrtINfJR,nbdmJge3hco,Nbe5nwNOWuH,NBCzon4kjkU,nBfPgpU2j2T,NBE8qSzMhFO,nB9tjQx7qLG,ncjBaP4NlNL,ncfTlufvAf6,nCedmqJkSab,ncHX7GhgdRw,nCLAqvfd0dC,NcAtlM2CxhN,NchF9oWaRrv,NCFWw5b1F3l,nD0F9ui8Nga,ncW6xCCNS7U,Ncv3dhm1WKr,NcPVtCNxJtS,ncp8UEmO0Nc,Ncui1OhIui1,NCNUmUdyxiv,ncNHTPuom6N,ncrGZtPNsdp,NDdK3PErBwi,nDak4FYY7by,Nd9lbxQv72E,Ndc6vwLpPL0,Nd2kI24Ysjw,ndFFkLmgpdh,NdR2GbJ4yux,NDPJDhY7drG,nDYKoSsgDae,NDSoOEPf9Xz,nDmpuJkb5Dx,NE0wSFcq85m,nDGGWGoGAQP,NDxMK7ByHjE,NDJYj6pnGtq,NdK05Nm1xRX,NB7eqXoE2R9,Nb4B3Eb0wTG,nAwYZvr4uXx,NAsl8Rx8H1z,nARV7hpZe81,nAQY3DLsuOv,narUrqXyfmL,naYQMideqXq,nAYTsq27Qme,NB5HPg4lZap,naPCltKBaZo,nB7r8fj1aJV,NBdT3iv0Jdd,NbCCrtINfJR,nbdmJge3hco,Nbe5nwNOWuH,NBCzon4kjkU,nBfPgpU2j2T,NBE8qSzMhFO,nB9tjQx7qLG,ncjBaP4NlNL,ncfTlufvAf6,nCedmqJkSab,ncHX7GhgdRw,nCLAqvfd0dC,NcAtlM2CxhN,NchF9oWaRrv,NCFWw5b1F3l,nD0F9ui8Nga,ncW6xCCNS7U,Ncv3dhm1WKr,NcPVtCNxJtS,ncp8UEmO0Nc,Ncui1OhIui1,NCNUmUdyxiv,ncNHTPuom6N,ncrGZtPNsdp,NDdK3PErBwi,nDak4FYY7by,Nd9lbxQv72E,Ndc6vwLpPL0,Nd2kI24Ysjw,ndFFkLmgpdh,NdR2GbJ4yux,NDPJDhY7drG,nDYKoSsgDae,NDSoOEPf9Xz,nDmpuJkb5Dx,NE0wSFcq85m,nDGGWGoGAQP,NDxMK7ByHjE,NDJYj6pnGtq,NdK05Nm1xRX,NeDLD0dIVsB,nE79oU4m59R,NE3IGibCrUT,NEeUGvFAfPL,nEGDI49riU7,NE1jB3WgICT,nEBeaVC82RV,nEOHhRftxUA,NEgTyyI1U7p,NElhFomB8Ed,NeMAfI6pnH8,neMKrGhZWb8,NeGfP3BAuLV,nf6IbtSfLoQ,Nf5oMnV3Yv4,neUyl2P9GNI,nF1QnIAFhBa,nFd1OOKdbcg,NFghlWBjqn9,Nf4MqPR6ji8,NevzzuLhwDL,NF3yUICZdNs,Net1iKNpH2C,NFB2xU2KZJR,NFEh6pdnT8Z,NEoyuaoQCYg,nF1q6IlqwEj,nFgQLDmJ6g0,NfiSknjddJk,nFkzKqsjV6w,NFkcfk9XjZ6,Nfgju48VnmP,NGg0rG3JWU8,nghGlnFwHao,ngDQVh3kT5U,nGFudKcFOs2;nGBQ8uWPxAf,NFt5dJzTdyX,Ng4fSETuV70,nFz0MA85kJa,NFU587IpTIP,NfmMrCvI9Qs,NGDGQL6L6gv,Ng9y3LRy7wt,ngCoDKKjYFk,NFY9MJ3D8X6,NGDf0XXst8N,nFN2AjTeCMc,nFS5aKnXxhk,nFxmB8IneUi,NfY6QL7XF3K,nFmDmVtAu8F"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,224],"id":"e49a6a00-eff3-4b72-862c-b4b18c52764f","name":"DHIS2_Min_Mananjary","alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"SYuBZNWp7QjG6Tsf","name":"Conn_DHIS2_Ministere"}}},{"parameters":{"url":"https://ministere-sante.mg/api/dataValueSets?","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"dataSet","value":"qNTxFeMEaKj"},{"name":"startDate","value":"={{ $('Merge').item.json.startDate }}"},{"name":"endDate","value":"={{ $('Merge').item.json.endDate }}"},{"name":"orgUnit","value":"mX0r4qWG5tH,MWzOXZ0OCi4,mWYjd7l6HAr,MWwdcT8ymeW,mwvpja7dkl4,mWVArHmYzmj,MxSXZNqpJaj,mxqyYJGUoX7,mxvnCa9POAC,mxmc9MooAS6,mxvfUEPLrej,MXCn4tOX6pg,mx5QFM4WYkD,mxdIkypeYMD,mx3PD6YuOnN,MxINC7KeaaO,MxaayZVhVbB,mX3ergiSZpk,MxB53F0Df9d,MxzGEGPTgMm,my9f3adLxlj,mXXq72VIIoj,My3lP3uaw2O,My9BjOI1o6m,My8pyg8HifR,Mz62qH54bim,MZaTui7zLzI,Mz3aE1ccqiF,mzL9PBf0gGm,MZmi6Gkq4ba,mZJ87VyIelV,MyZGOELdGMX,myN1iOnWnxd,Mz1j1XfPoYJ,mYDNGPHWPTA,MYQCpwtIHn5,mYsCC2aH7vw,MyenqK5PsKr,mYnZimKXYL1,mZrPgkkaDIS,MZRojXcuGgp,MzvaEqWdQPi,MZXkSmDSsZf,MZTR7HdznnT,MZsiAMQbaA1,N0Qc5Wn4Yfj,n0YNSHx2OL8,N1B4my4Tsvs,N0zmv1SGHuy,N0LZ17vAx3m,N18L1cWSeJo,n0IMpUvRBcr,N0KKxsJuAE4,mzYJ74wMyRk,N00YPHlIWIK,n0hZNG2D5pj,n0CaLGUyPsm,n07Oyi0yGex,n1txNLmlNFJ,n1qhQckfF9d,n1tITOuWqTj,N1BN7OpevtW,n1nFDxPKQHB,n1Yf2oUdGxa,N1kFPk7nWuz,n2f6TQReLsU,N2glO686SML,N2Vq4SNsgaW,N2COVGsjAks,n24vq29Pf2r,n2CopSk7hqo,nBPtUO5rqTo,NBYjIGPPfUy,nc50KcJ1k6A,nBsZyTHOgSl,Nbx95yE0lU0,NBGp09sb15x,NCAA17HzDel,nc1gjp9uvKD,n3YMnl5xGAf,n4asbmLsCPe,N49r3uqo8Sz,N3OTwPrPUje,n4jQxG8HL3z,N4l4RM2tcZO,N4lpdPYcuTg,n4A8pKBKIe3,n37IcdBMLdA,n3mPb3TMKcA,n3elkRcB89d,n3DSsNHbfSO,OMu8OTiwiHK,N3wXl5Ga7we,N4FxgQCv8Dd,N4ZbZyrsK9s,N53LEDyqoAe,n4U5XIX8heB,n4XutwBF3aA,N4QjMbYPTvm,N4vAprEXdvy,N5PgoyDsfVR,n5cWuXGbkGw,N5ljK3DetCF,N5hpJLbp7nz,N5pvLe47hEy,n65KpwgJdlV,n6B1ZdlStCg,n5pYmtLcpXL,N5C2zCQp2X1,n5SOhaHQraj,n5yx0AEEFyd,n6A5hvyCHPi,n5Gron9ft7P,N5rE3wAeM7x,n7hHuAxfR1N,N7EKyN37EBG,N7JbF1rNR1S,n7aSwQUbIZL,N7jaCqlsCzu,N75spTdsZUt,n6ZGBgi7GKu,N7M9Qs0fAzl,n81hr8CBEbu,N7XV7YNThya,N7qlbph0EEs,n7UVSyMEGkf,n7mbudczRWY,n8evlB5Jypa,N8gdZv5P4qF,N8MRV85oyH7,n8b8EDPWbw7,N8ciEz9iOHa,N8VExStdiSH,N9MJRyNiQXJ,n9f9j5YSB59,n9oAldScBPF,n9k4eOamG9m,n9DlpdeghdJ,NaGqEmAW4kG,NaF9N1sMPiR,nAh1A2IPSG4,NAcVXQ6PNtz,NAahVvBdvK2,n9ui3TA9vGW,na2RyoE4BaO,NaCfz6ojNgx,n9q9cKYLdnb,nahNwLAZDBD,NaKLndVd7Gy,NAPB6q7D78y,NammUoGaIlW,nAhm4XcsoSA,NAiQE4iBV3y,NAosVzYWbcp,n5pYmtLcpXL,N5C2zCQp2X1,n5SOhaHQraj,n5yx0AEEFyd,n6A5hvyCHPi,n5Gron9ft7P,N5rE3wAeM7x,n7hHuAxfR1N,N7EKyN37EBG,N7JbF1rNR1S,n7aSwQUbIZL,N7jaCqlsCzu,N75spTdsZUt,n6ZGBgi7GKu,N7M9Qs0fAzl,n81hr8CBEbu,N7XV7YNThya,N7qlbph0EEs,n7UVSyMEGkf,n7mbudczRWY,n8evlB5Jypa,N8gdZv5P4qF,N8MRV85oyH7,n8b8EDPWbw7,N8ciEz9iOHa,N8VExStdiSH,N9MJRyNiQXJ,n9f9j5YSB59,n9oAldScBPF,n9k4eOamG9m,n9DlpdeghdJ,NaGqEmAW4kG,NaF9N1sMPiR,nAh1A2IPSG4,NAcVXQ6PNtz,NAahVvBdvK2,n9ui3TA9vGW,na2RyoE4BaO,NaCfz6ojNgx,n9q9cKYLdnb,nahNwLAZDBD,NaKLndVd7Gy,NAPB6q7D78y,NammUoGaIlW,nAhm4XcsoSA,NAiQE4iBV3y,NAosVzYWbcp,NB7eqXoE2R9,Nb4B3Eb0wTG,nAwYZvr4uXx,NAsl8Rx8H1z,nARV7hpZe81,nAQY3DLsuOv,narUrqXyfmL,naYQMideqXq,nAYTsq27Qme,NB5HPg4lZap,naPCltKBaZo,nB7r8fj1aJV,NBdT3iv0Jdd,NbCCrtINfJR,nbdmJge3hco,Nbe5nwNOWuH,NBCzon4kjkU,nBfPgpU2j2T,NBE8qSzMhFO,nB9tjQx7qLG,ncjBaP4NlNL,ncfTlufvAf6,nCedmqJkSab,ncHX7GhgdRw,nCLAqvfd0dC,NcAtlM2CxhN,NchF9oWaRrv,NCFWw5b1F3l,nD0F9ui8Nga,ncW6xCCNS7U,Ncv3dhm1WKr,NcPVtCNxJtS,ncp8UEmO0Nc,Ncui1OhIui1,NCNUmUdyxiv,ncNHTPuom6N,ncrGZtPNsdp,NDdK3PErBwi,nDak4FYY7by,Nd9lbxQv72E,Ndc6vwLpPL0,Nd2kI24Ysjw,ndFFkLmgpdh,NdR2GbJ4yux,NDPJDhY7drG,nDYKoSsgDae,NDSoOEPf9Xz,nDmpuJkb5Dx,NE0wSFcq85m,nDGGWGoGAQP,NDxMK7ByHjE,NDJYj6pnGtq,NdK05Nm1xRX,NB7eqXoE2R9,Nb4B3Eb0wTG,nAwYZvr4uXx,NAsl8Rx8H1z,nARV7hpZe81,nAQY3DLsuOv,narUrqXyfmL,naYQMideqXq,nAYTsq27Qme,NB5HPg4lZap,naPCltKBaZo,nB7r8fj1aJV,NBdT3iv0Jdd,NbCCrtINfJR,nbdmJge3hco,Nbe5nwNOWuH,NBCzon4kjkU,nBfPgpU2j2T,NBE8qSzMhFO,nB9tjQx7qLG,ncjBaP4NlNL,ncfTlufvAf6,nCedmqJkSab,ncHX7GhgdRw,nCLAqvfd0dC,NcAtlM2CxhN,NchF9oWaRrv,NCFWw5b1F3l,nD0F9ui8Nga,ncW6xCCNS7U,Ncv3dhm1WKr,NcPVtCNxJtS,ncp8UEmO0Nc,Ncui1OhIui1,NCNUmUdyxiv,ncNHTPuom6N,ncrGZtPNsdp,NDdK3PErBwi,nDak4FYY7by,Nd9lbxQv72E,Ndc6vwLpPL0,Nd2kI24Ysjw,ndFFkLmgpdh,NdR2GbJ4yux,NDPJDhY7drG,nDYKoSsgDae,NDSoOEPf9Xz,nDmpuJkb5Dx,NE0wSFcq85m,nDGGWGoGAQP,NDxMK7ByHjE,NDJYj6pnGtq,NdK05Nm1xRX,NeDLD0dIVsB,nE79oU4m59R,NE3IGibCrUT,NEeUGvFAfPL,nEGDI49riU7,NE1jB3WgICT,nEBeaVC82RV,nEOHhRftxUA,NEgTyyI1U7p,NElhFomB8Ed,NeMAfI6pnH8,neMKrGhZWb8,NeGfP3BAuLV,nf6IbtSfLoQ,Nf5oMnV3Yv4,neUyl2P9GNI,nF1QnIAFhBa,nFd1OOKdbcg,NFghlWBjqn9,Nf4MqPR6ji8,NevzzuLhwDL,NF3yUICZdNs,Net1iKNpH2C,NFB2xU2KZJR,NFEh6pdnT8Z,NEoyuaoQCYg,nF1q6IlqwEj,nFgQLDmJ6g0,NfiSknjddJk,nFkzKqsjV6w,NFkcfk9XjZ6,Nfgju48VnmP,NGg0rG3JWU8,nghGlnFwHao,ngDQVh3kT5U,nGFudKcFOs2;nGBQ8uWPxAf,NFt5dJzTdyX,Ng4fSETuV70,nFz0MA85kJa,NFU587IpTIP,NfmMrCvI9Qs,NGDGQL6L6gv,Ng9y3LRy7wt,ngCoDKKjYFk,NFY9MJ3D8X6,NGDf0XXst8N,nFN2AjTeCMc,nFS5aKnXxhk,nFxmB8IneUi,NfY6QL7XF3K,nFmDmVtAu8F"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,512],"id":"f16b6d5c-86a5-4b45-b39c-fbd58ee9d2ca","name":"DHIS2_Min_Nosy_Varika","alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"SYuBZNWp7QjG6Tsf","name":"Conn_DHIS2_Ministere"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"startDate","type":"main","index":0},{"node":"endDate","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"DHIS2_Min_Ifanadiana","type":"main","index":0},{"node":"DHIS2_Min_Mananjary","type":"main","index":0},{"node":"DHIS2_Min_Nosy_Varika","type":"main","index":0}]]},"DHIS2_Min_Ifanadiana":{"main":[[{"node":"DHIS2_Pivot","type":"main","index":0}]]},"startDate":{"main":[[{"node":"Merge","type":"main","index":0}]]},"endDate":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"DHIS2_Min_Mananjary":{"main":[[{"node":"DHIS2_Pivot1","type":"main","index":0}]]},"DHIS2_Min_Nosy_Varika":{"main":[[{"node":"DHIS2_Pivot2","type":"main","index":0}]]},"DHIS2_Pivot":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"DHIS2_Pivot1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"DHIS2_Pivot2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"pinData":{},"versionId":"9af257b9-7bb8-4494-b392-9b6a59cd4f47","triggerCount":0,"meta":null,"parentFolderId":null,"createdAt":"2026-03-03 05:51:32.921","updatedAt":"2026-03-03 06:18:33.876","isArchived":0,"versionCounter":10,"description":null},
{"id":"W4nMPFJdGuyIZzOE","name":"Integration_RMA_CSB","active":0,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-784,192],"id":"f4905248-0263-45c7-a749-c9ff674fa1bb","name":"When clicking ‘Test workflow’"},{"parameters":{"jsCode":"const results = [];\nconst today = new Date();\n\nfor (let i = 1; i <= 3; i++) {  // on commence à 1 pour exclure le mois courant\n    const date = new Date(today.getFullYear(), today.getMonth() - i, 1);\n\n    const year = date.getFullYear();\n    const month = String(date.getMonth() + 1).padStart(2, '0');\n\n    results.push({\n        json: {\n            period: `${year}${month}`\n        }\n    });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,192],"id":"870e266a-b8d5-4116-9f7f-2344df43f746","name":"Periode"},{"parameters":{"batchSize":3,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-288,192],"id":"b6b78b38-8f23-4168-99de-b181b6714f99","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://www.dhis2-pivot.org/prod/api/dataValueSets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,0],"id":"7055be83-4887-4937-a7ed-17874b181f0e","name":"DHIS2_Pivot","credentials":{"httpBasicAuth":{"id":"p9cTlskWO88dMZER","name":"Conn_DHIS2_Pivot"}}},{"parameters":{"method":"POST","url":"https://www.dhis2-pivot.org/prod/api/dataValueSets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,208],"id":"2b954c9c-8469-4eb4-b4d4-c7e213ce2655","name":"DHIS2_Pivot1","credentials":{"httpBasicAuth":{"id":"p9cTlskWO88dMZER","name":"Conn_DHIS2_Pivot"}}},{"parameters":{"method":"POST","url":"https://www.dhis2-pivot.org/prod/api/dataValueSets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,400],"id":"82f34ca8-f46a-4296-855f-6fc46b072091","name":"DHIS2_Pivot2","credentials":{"httpBasicAuth":{"id":"p9cTlskWO88dMZER","name":"Conn_DHIS2_Pivot"}}},{"parameters":{"url":"https://ministere-sante.mg/api/dataValueSets?","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"dataSet","value":"mQEM6Pdzg8p"},{"name":"period","value":"={{ $json.period }}"},{"name":"orgUnit","value":"D9UWDj19ljP,U1YeJp3NDNV,QHPyq70qulM,M38BJM8ju1A,WCqkkkKNJEi,Pi2y9HFBDRj,h0z1bKoHDrU,YCvVB1VwWi0,mBZLeZ7Irx6,hXuxS0MOq3b,z6kDxHwInUT,okDqhh9n4yT,pczrAub8lnt,EE6WwIMgQ0F,O1wNJut8eci,RRe6ic0AU1Z,ZPvH8UsgwYv,DDR2w1c1GyE,r4U7PhBKR7S,uWoBok9YyvB,FGM6Ric1YnC,c2AYc6zu00e,A3hiudw2Rr4,b5rHHqkmI2a"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"fbd901f5-3d51-4984-9431-e0eb35e889dd","name":"DHIS2_Min_Ifanadiana","alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"SYuBZNWp7QjG6Tsf","name":"Conn_DHIS2_Ministere"}}},{"parameters":{"url":"https://ministere-sante.mg/api/dataValueSets?","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"dataSet","value":"mQEM6Pdzg8p"},{"name":"period","value":"={{ $json.period }}"},{"name":"orgUnit","value":"TheMkAkfvgn,BxpH1ND8KFP,Ht69V3vwfVs,SOYJNYkE3Ah,xFewURfeM6L,gGzLr4oo3Pm,JJPXmBBn47m,BbsaOL1ndvg,KXNLOAzcjfG,Qy7TBEcefE9,eQSREv9e1bq,Y8p37aLjrHn,Znyo1UWzmFH,AxTFbOBjP1K,Dzr57TxAG74,onLZ8h8Nng2,YxrZbfqDA6r,EYZ5Ej566ob,bnMM4PwDm3F,IQ82WcLTcGX,dSY2oZjJcwj,kraCyRAvVgQ,A38WhL0NPsX,ErLw9twd3q5,VW9Pm0uz6SX,ebRE2LEmvie,zMJxWJIgF5N,xIpy9Oaipvh,ZboIy43ZwzX,cPkdD7UhXmn,IRn2N8HJCVT,mHDPNIDOecN,MV5fSBnQpFC,R6evSAV8MdQ,AikfHtzeOOW,NA1FBm3XUuW,ngHZIXy1Cyw,juLcMFcd4Fv,NaHyGHPvH7A,tHaaamft4vA,A0YU5ksfXZS,INrXsjpFZU8,pfav1hH9Nuf,eHk9mLUogOz,aihwzCRcQS3,vPmCzlQD5a8,elIt2dLIHBw,I0zrAwM5gZL,nE3sJcoVkhr,ZpdAbOChH4T,FNRS263It3k"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,208],"id":"3b2cd987-bd11-4f41-a261-7e2188d5feaf","name":"DHIS2_Min_Mananjary","alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"SYuBZNWp7QjG6Tsf","name":"Conn_DHIS2_Ministere"}}},{"parameters":{"url":"https://ministere-sante.mg/api/dataValueSets?","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"dataSet","value":"mQEM6Pdzg8p"},{"name":"period","value":"={{ $json.period }}"},{"name":"orgUnit","value":"TheMkAkfvgn,BxpH1ND8KFP,Ht69V3vwfVs,SOYJNYkE3Ah,xFewURfeM6L,gGzLr4oo3Pm,JJPXmBBn47m,BbsaOL1ndvg,KXNLOAzcjfG,Qy7TBEcefE9,eQSREv9e1bq,Y8p37aLjrHn,Znyo1UWzmFH,AxTFbOBjP1K,Dzr57TxAG74,onLZ8h8Nng2,YxrZbfqDA6r,EYZ5Ej566ob,bnMM4PwDm3F,IQ82WcLTcGX,dSY2oZjJcwj,kraCyRAvVgQ,A38WhL0NPsX,ErLw9twd3q5,VW9Pm0uz6SX,ebRE2LEmvie,zMJxWJIgF5N,xIpy9Oaipvh,ZboIy43ZwzX,cPkdD7UhXmn,IRn2N8HJCVT,mHDPNIDOecN,MV5fSBnQpFC,R6evSAV8MdQ,AikfHtzeOOW,NA1FBm3XUuW,ngHZIXy1Cyw,juLcMFcd4Fv,NaHyGHPvH7A,tHaaamft4vA,A0YU5ksfXZS,INrXsjpFZU8,pfav1hH9Nuf,eHk9mLUogOz,aihwzCRcQS3,vPmCzlQD5a8,elIt2dLIHBw,I0zrAwM5gZL,nE3sJcoVkhr,ZpdAbOChH4T,FNRS263It3k"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,400],"id":"fdc95b29-416e-4924-bb5f-ace3059db0c1","name":"DHIS2_Min_Nosy_Varika","alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"SYuBZNWp7QjG6Tsf","name":"Conn_DHIS2_Ministere"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Periode","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"DHIS2_Min_Nosy_Varika","type":"main","index":0},{"node":"DHIS2_Min_Ifanadiana","type":"main","index":0},{"node":"DHIS2_Min_Mananjary","type":"main","index":0}]]},"Periode":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"DHIS2_Min_Ifanadiana":{"main":[[{"node":"DHIS2_Pivot","type":"main","index":0}]]},"DHIS2_Min_Mananjary":{"main":[[{"node":"DHIS2_Pivot1","type":"main","index":0}]]},"DHIS2_Min_Nosy_Varika":{"main":[[{"node":"DHIS2_Pivot2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"pinData":{},"versionId":"88824021-ee55-43d4-a279-41d3a7b46241","triggerCount":0,"meta":null,"parentFolderId":null,"createdAt":"2026-03-03 05:51:48.524","updatedAt":"2026-03-03 06:15:00.075","isArchived":0,"versionCounter":14,"description":null},
{"id":"MlhqofW8miV0jDue","name":"Integrations_RMA_CHRD","active":0,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-784,192],"id":"520206aa-e1a8-4c3c-8236-fca1f416aa1f","name":"When clicking ‘Test workflow’"},{"parameters":{"jsCode":"const results = [];\nconst today = new Date();\n\nfor (let i = 1; i <= 3; i++) {  // on commence à 1 pour exclure le mois courant\n    const date = new Date(today.getFullYear(), today.getMonth() - i, 1);\n\n    const year = date.getFullYear();\n    const month = String(date.getMonth() + 1).padStart(2, '0');\n\n    results.push({\n        json: {\n            period: `${year}${month}`\n        }\n    });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,192],"id":"ca427c89-f5d8-4239-9b3d-bcf7d32ff404","name":"Periode"},{"parameters":{"batchSize":3,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-288,192],"id":"f6630b68-8fc9-40b3-bae3-5456b0df7264","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://www.dhis2-pivot.org/prod/api/dataValueSets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,0],"id":"d2951c0f-6312-4ebf-bc78-63bcfc585060","name":"DHIS2_Pivot","credentials":{"httpBasicAuth":{"id":"p9cTlskWO88dMZER","name":"Conn_DHIS2_Pivot"}}},{"parameters":{"method":"POST","url":"https://www.dhis2-pivot.org/prod/api/dataValueSets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[544,208],"id":"0ff02eb8-a107-481d-85dc-8908e8ee6834","name":"DHIS2_Pivot1","credentials":{"httpBasicAuth":{"id":"p9cTlskWO88dMZER","name":"Conn_DHIS2_Pivot"}}},{"parameters":{"method":"POST","url":"https://www.dhis2-pivot.org/prod/api/dataValueSets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[544,400],"id":"02f9172c-5818-4861-a296-7aafa0cd827e","name":"DHIS2_Pivot2","credentials":{"httpBasicAuth":{"id":"p9cTlskWO88dMZER","name":"Conn_DHIS2_Pivot"}}},{"parameters":{"url":"https://ministere-sante.mg/api/dataValueSets?","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"dataSet","value":"XH4MSdxFKe5"},{"name":"period","value":"={{ $json.period }}"},{"name":"orgUnit","value":"GDBYpa6pDOe"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"7972ed99-b0a5-4efa-9743-8e56035021ac","name":"DHIS2_Min_Ifanadiana","alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"SYuBZNWp7QjG6Tsf","name":"Conn_DHIS2_Ministere"}}},{"parameters":{"url":"https://ministere-sante.mg/api/dataValueSets?","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"dataSet","value":"XH4MSdxFKe5"},{"name":"period","value":"={{ $json.period }}"},{"name":"orgUnit","value":"cPkdD7UhXmn"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,208],"id":"2b0e5f8a-a41f-466e-9a3b-c80c049fbdf1","name":"DHIS2_Min_Manajary","alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"SYuBZNWp7QjG6Tsf","name":"Conn_DHIS2_Ministere"}}},{"parameters":{"url":"https://ministere-sante.mg/api/dataValueSets?","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"dataSet","value":"XH4MSdxFKe5"},{"name":"period","value":"={{ $json.period }}"},{"name":"orgUnit","value":"GM6MGTic1DQ"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,400],"id":"780d7998-6895-4919-8d94-29a02643fbbf","name":"DHIS2_Min_Nosy_varika","alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"SYuBZNWp7QjG6Tsf","name":"Conn_DHIS2_Ministere"}}},{"parameters":{"jsCode":"return items.map(item => {\n\n    const newItem = { ...item.json };\n\n    // Modifier dataSet\n    newItem.dataSet = \"sTdqwhFX0qj\";\n\n    // Mettre completeDate à null\n    newItem.completeDate = null;\n\n    // Si dataValues existe, on peut aussi modifier dedans si nécessaire\n    if (newItem.dataValues && Array.isArray(newItem.dataValues)) {\n        newItem.dataValues = newItem.dataValues.map(dv => ({\n            ...dv\n        }));\n    }\n\n    return {\n        json: newItem\n    };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,0],"id":"bde0d914-ea2b-4a8d-8881-794ae2451d4e","name":"Code"},{"parameters":{"jsCode":"return items.map(item => {\n\n    const newItem = { ...item.json };\n\n    // Modifier dataSet\n    newItem.dataSet = \"sTdqwhFX0qj\";\n\n    // Mettre completeDate à null\n    newItem.completeDate = null;\n\n    // Si dataValues existe, on peut aussi modifier dedans si nécessaire\n    if (newItem.dataValues && Array.isArray(newItem.dataValues)) {\n        newItem.dataValues = newItem.dataValues.map(dv => ({\n            ...dv\n        }));\n    }\n\n    return {\n        json: newItem\n    };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,208],"id":"679312ba-c4e3-4f15-8cd5-aeb5c81c1bf1","name":"Code1"},{"parameters":{"jsCode":"return items.map(item => {\n\n    const newItem = { ...item.json };\n\n    // Modifier dataSet\n    newItem.dataSet = \"sTdqwhFX0qj\";\n\n    // Mettre completeDate à null\n    newItem.completeDate = null;\n\n    // Si dataValues existe, on peut aussi modifier dedans si nécessaire\n    if (newItem.dataValues && Array.isArray(newItem.dataValues)) {\n        newItem.dataValues = newItem.dataValues.map(dv => ({\n            ...dv\n        }));\n    }\n\n    return {\n        json: newItem\n    };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,400],"id":"98693583-4928-472f-8729-8fabd38a45e7","name":"Code2"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Periode","type":"main","index":0}]]},"Periode":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"DHIS2_Min_Ifanadiana","type":"main","index":0},{"node":"DHIS2_Min_Manajary","type":"main","index":0},{"node":"DHIS2_Min_Nosy_varika","type":"main","index":0}]]},"DHIS2_Min_Ifanadiana":{"main":[[{"node":"Code","type":"main","index":0}]]},"DHIS2_Min_Manajary":{"main":[[{"node":"Code1","type":"main","index":0}]]},"DHIS2_Min_Nosy_varika":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code":{"main":[[{"node":"DHIS2_Pivot","type":"main","index":0}]]},"Code1":{"main":[[{"node":"DHIS2_Pivot1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"DHIS2_Pivot2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"pinData":{},"versionId":"41a1b065-d97e-4373-b9d0-b459b0127dde","triggerCount":0,"meta":null,"parentFolderId":null,"createdAt":"2026-03-03 05:52:38.155","updatedAt":"2026-03-03 05:55:59.205","isArchived":0,"versionCounter":8,"description":null},
{"id":"tnB5biFaOK3J0mDn","name":"Dash_to_DHIS2","active":0,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-976,-192],"id":"53e4837f-7f27-4c19-8daf-a8b07d158f3c","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"executeQuery","query":"DROP DATABASE IF EXISTS base_pvt_locale;\nCREATE DATABASE base_pvt_locale;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-656,-400],"id":"4a1baa59-bd51-40d4-94bd-9d2654f84cdd","name":"Nouvelle_Base_donnees","credentials":{"mySql":{"id":"IwEXWT3Ii7skCnQf","name":"MySQL account"}}},{"parameters":{"command":"docker run --rm mysql:8.0 mysqldump -h 217.70.190.209 -P 3306 -u mysqlwb -p'Pivot**15' pivotdb > /tmp/backup_$(date +%Y%m%d_%H%M%S).sql","additionalOptions":{"returnFullOutput":false}},"type":"n8n-nodes-custom-exec.customExecNode","typeVersion":1,"position":[-672,-64],"id":"8148cab9-ef15-4366-92c9-bc5929d49f51","name":"Custom Exec","alwaysOutputData":true}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Nouvelle_Base_donnees","type":"main","index":0},{"node":"Custom Exec","type":"main","index":0}]]},"Nouvelle_Base_donnees":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"pinData":{},"versionId":"dc80a743-355b-4a78-954b-f4cbba464c49","triggerCount":0,"meta":{"templateCredsSetupCompleted":true},"parentFolderId":null,"createdAt":"2026-03-03 06:26:54.364","updatedAt":"2026-03-03 10:53:51.546","isArchived":0,"versionCounter":51,"description":null}
]
